#container {
  font-family: "curier new", monospace;
}

.row {
  overflow: hidden;
}

.square {
  float: left;
  width: 1em;
  text-align: center;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.w {
  background-color: black;
}

.d {
  background-color: black;
}

.s {
  color: black;
  background-color: black;
}

.v {
  background-color: white;
  color: white;
}
