:root {
  --background: #edf1e6;
  --wall: #55757e;
  --hovered: #aa5a4e;
}

html,
body {
    overscroll-behavior-y: contain;
    background-color: var(--background);
    user-select: none;
}

body {
  font-family: "curier new", monospace;
  margin: 0px 10px;
}

#content {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

#header {
  display: flex;
  height: 15vh;
  justify-content: space-evenly;
}

#header > div {
  text-align: center;
}

#header h1 {
  margin: 10px 0px 5px 0px;
}

#container {
  /* flex-flow: row; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#setup-container {
  display: flex;
  flex-flow: column;
}

#setup-container > label {
  margin-top: 0.7em;
  margin-bottom: 0.1em;
}

#setup-container > button {
  margin-top: 3em;
}

#footer {
  height: 5vh;
}

.row {
  overflow: hidden;
}

.square {
  float: left;
  /* width: 1.5em; */
  /* aspect-ratio: 1 / 1; */
  text-align: center;
  border-color: var(--background);
  border-style: solid;
  border-width: 0px;
  color: rgba(0,0,0,0);
  box-sizing: border-box;
}

.w {
  background-color: black;
}

.d {
  background-color: black;
}

.s, .d, .w {
  /* color: black; */
  background-color: var(--wall);
}

/* .v {
  background-color: white;
  color: white;
} */

.hovered {
  background-color: var(--hovered);
  outline: 6px solid var(--background);
  outline-offset: -6px;
}

.line {
  top: 1px;
  position: absolute;
  /* width: 5px; */
} 

#line-y-l {
  height: 100%;
  border-left: 1px solid red;
} 

#line-y-r {
  height: 100%;
  border-right: 1px solid red;
} 

#line-x-t {
  width: 100%;
  border-top: 1px solid red;
} 

#line-x-b {
  width: 100%;
  border-bottom: 1px solid red;
} 
