html,
body {
    overscroll-behavior-y: contain;
}

#container {
  font-family: "curier new", monospace;
}

.row {
  overflow: hidden;
}

.square {
  float: left;
  width: 1.2em;
  text-align: center;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  color: rgba(0,0,0,0);
  box-sizing: border-box;
}

.w {
  background-color: black;
}

.d {
  background-color: black;
}

.s, .d, .w {
  /* color: black; */
  background-color: lightgray;
}

.v {
  background-color: white;
  /* color: white; */
}

.hovered {
  background-color: orange;
  outline: 5px solid white;
  outline-offset: -5px;
}

.line {
  top: 1px;
  position: absolute;
  /* width: 5px; */
} 

#line-y-l {
  height: 100%;
  border-left: 1px solid red;
} 

#line-y-r {
  height: 100%;
  border-right: 1px solid red;
} 

#line-x-t {
  width: 100%;
  border-top: 1px solid red;
} 

#line-x-b {
  width: 100%;
  border-bottom: 1px solid red;
} 


